body {
    font-family: sans-serif;
}

.menubar{
    user-select: none;
    border: 0.05em solid black;
    padding-left: 1em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    font-family: sans-serif;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 100;
    background: white;
}

/* Used by menubar for selected items and menus*/
.menubar .menuSelected {
    background: #5070e0;
    color: white;
}


.menubar .menuTitle {
    padding-left: 0em;
    padding-right: 0.5em;
    border-top-left-radius: 0.15em;
    border-top-right-radius: 0.15em;
}

.menubar .menuItemContainer {
    background: white;
    border: 1px solid black;
    border-top-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    box-shadow: 0.2em 0.2em 0.1em rgba(0,0,0,0.5);
    left: 0em;        /*should match padding on menuTitle*/
    top: 1.1em;
}

.menubar .menuItem {
    /* t r b l */
    padding: 0.25em 0.25em 0.25em 0.25em;
   
}

.menubar .menuItemText {
    padding-right: 2em;
}

.menubar .menuSeparator {
    border-top: 1px solid lightgray;
    height: 0.01em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.menubar .menuItem.disabled{
    color: #aaaaaa;
}


/* .tabOverallContainer{
} */

.tabHeaderContainer{
    position: relative;
    left: 0px;
    top: 0px;
    cursor: default;
    background: lightgrey;
}

.tabContentContainer{
    position: relative;
    left: 0px;
    top: 0px;
}

.tabOverallContainer .tabContent{
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}

.tabOverallContainer .tabContent.tabActive {
    visibility: visible;
}

.tabOverallContainer .tabHeader {
    border: 2px outset;
    background: lightgrey;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    display: inline-block;
    cursor: pointer;
    user-select:none;
}

/* ref: https://stackoverflow.com/questions/37629510/loop-colour-transition-with-css*/
@keyframes warningColorCycle{
    from {
        background: unset;
    } 
    to{
        background: #ffcc00;
    }
}
.tabOverallContainer .tabHeader.tabWantsAttention {
    animation: warningColorCycle 1s infinite alternate;
}

.tabOverallContainer .tabHeader.tabActive {
    border: 2px inset;
    background: #b0b0b0

}

.helpInfo .functionsignature {
    font-family: monospace;
}

.helpInfo .functionname {
    color: blueviolet;
    font-weight: bold;
}

.helpInfo .argname {
    color: teal;
    font-weight: bold;
}

.helpInfo .argtype {
    color: blue;
}

.helpInfo .defaultvalue {
    color: grey;
    font-style: italic;
}

input.invalidValue {
    background: #ffcccc;
}

